.vscode
*.taint
*.o
*.so
*.dwo
*.bc
*.ll
GPATH
GRTAGS
GTAGS
GSYMS
output*/
*.tar.gz
*.tar.xz
auto/
/bin/
.DS_Store
/build/
/libcxx/
!/libcxx/build_taint/lib/
/install
out/
examples/*
!examples/*.sh
!examples/*.c
!examples/*traces.json
!examples/seed.bin
**/__pycache__/*.pyc
web-service/results/*
web-service/uploads/*
!web-service/results/.gitkeep
